create template LegalAgreement:
    params [
        initialMon, tax, finalMon, guess: num
        ans: bool
        mainText, test, answer, nameSeller, nameBuyer :text 
        dateWritten : date

]
    tax = 100*((tax/100)+(1/100));
    finalMon = initialMon + initialMon*(tax/100);

    mainText = { \20 \times \center Auto Bill of Sale \  \line 
    \16 \t I, 
\bu #nameSeller\, hereby sell, transfer and convey
\cred\b all\\resetcolor 
rights, title and interest in the following described vehicle to
\bu #nameBuyer\ 
for and in consideration of the total sum of 
\IU #initialMon $\
, inclusive of all sales tax \ibu ( #tax % ) \
, paid in the form of
\iu #finalMon $\, the receipt and sufficiency of which is hereby acknowledged.\line 
\12 *This sum represents the
\ib mutually\ agreed upon purchase price of the vehicle, between both
\cblue\i Seller\\resetcolor and the
\cgreen\ibu Purchaser\\resetcolor\.\\line \line \line
\16 Signature: \iu insert signature\
\13 \helvetica \right Date of issue: #dateWritten\\line};

    test = {\25 \times \brown Question 1:\ \resetcolor Is\courier the 7-th\resetfont fibonacci number\magenta #guess\?};
    initialMon = 0;
    finalMon = 1;
    tax = 0;
    
    do {
        tax = finalMon;
        finalMon = initialMon + finalMon;
        initialMon = tax;
        tax = 0;
    } until finalMon<8 ;

    if (finalMon == guess) {
        ans = "true";
        answer = {\cblue Answer: \u #ans\!\resetcolor};
    }else {
        ans = "false";
        answer = {\cred Answer: \u #ans\! It was #finalMon .\resetcolor};
    };

    print(mainText)

end template

actions:
    params[
        a: num
    ]

    a=5+7;
    if a!=100 {
        LegalAgreement(12500,15,0,8,"false","mainText", "test", "answer","Joe","Ben Parkins", "2022.05.31");
    }
